body {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h3 {
  text-align: center;
}

.inner {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 2vw;
  box-shadow: 25px 15px 50px #ced1d1, -12px -12px 50px #ced1d1;
  background-color: rgb(244, 244, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  border-radius: 2%;
  text-align: center;
}
.equal {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
.convert {
  font-size: 25px;
  text-align: left;
  font-weight: bold;
}

input[type="number"] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;

  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 2px solid #dddddd;
  border-radius: 5%;
  height: 35px;
}

input[type="number"]:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  box-shadow: 5px 5px 10px #ced1d1, -5px -5px 20px #ced1d1;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

select {
  margin-left: 0.5rem;
  height: 33px;
}
select:focus {
  box-shadow: 5px 5px 10px #ced1d1, -5px -5px 20px #ced1d1;
}
